<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到登录界面</title>
    <link rel="stylesheet"
          href="/static/plugins/bootstrap-3.3.7-dist/bootstrap/css/bootstrap.css">
    <style>
        form input{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-offset-4 col-sm-4" >
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" id="username" class="form-control" placeholder="用户名" name="username" autocomplete="off">
            <input type="password" id="Password" class="form-control" placeholder="密码" name="password" autocomplete="off">
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
</div>

</body>
</html>